// ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
//     background-color:#fff;
//   }

//   li {
//     float: left;
//   }

//   li a {
//     display: block;
//     color: rgb(190, 173, 173);
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
//   }

//   li a:hover {
//     background-color: #111;
//   }
// .png {
//   margin-left: 50px;
//   size: 10px;
//   width: 300px;
//   height: 20px;
// }
// .text {
//   margin-left: 300px;
// }
// .home {
//   margin-left: 400px;
// }
// .message {
//   margin-left: 200px;
// }
.parent {
  background-color: #ebebeb;
}

.second {
  display: flex;
  align-items: center;
}

.dummy {
  flex: 1;
}

.third {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchbox {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.first {
  display: flex;
  align-items: center;
}
.first__profile {
  margin-left: 10px;
}

.home,
.messgae,
.compass,
.like {
  margin-left: 20px;
}
.like {
  margin-right: 30px;
}
