<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instagram</title>
  <link rel="stylesheet" href="nav.component.scss">


</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <div style="display: flex;flex-direction: row;">
          <div style="display: flex;flex-direction:row;flex:1;">
            <div class="png">
              <li><img src="../../assets/jpg.png"></li>
            </div>
            <div class="text">
              <input type="text" placeholder="Search">
            </div>
            <div class="home">
              <li><img src="../../assets/pngtree-vector-house-icon-png-image_4013710.jpg" style="width: 30px;"></li>
            </div>
            <div class="messgae">
              <li><img src="../../assets/3084968-200.png" style="width: 30px;"></li>
            </div>
            <div class="compass">
              <li><img src="../../assets/compass.png" style="width: 30px;"></li>
            </div>
            <div class="like btn">
              <li><img src="../../assets/png.png" style="width: 30px;"></li>
            </div>
          </div>
        </div>
      </ul>

    </div>
  </nav>



</body>

</html>