<app-nav></app-nav>
<div class="background">
    <div>
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-7">
                <div class="card">
                    <h5 class="card-title">
                        <div class="profile_status">
                            <img class="bhaiya_status" src="../../assets/Screenshot_20210615-134643.jpg" width="50px">
                        </div>
                    </h5>
                </div>
                <div class="card" style="width:70%;">

                    <h5 class="card-title">
                        <div class="profile_p">
                            <img class="bhaiya" src="../../assets/Screenshot_20210615-134643.jpg" width="50px">
                        </div>
                    </h5>

                    <img src="https://images.unsplash.com/photo-1590767187868-b8e9ece0974b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80"
                        class="card-img-top">

                    <div class="card-body">
                        <h5 class="card-title"> </h5>
                        <p class="card-text"> </p>

                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="account_name">
                    <img class="account"
                        src="https://cdn.psychologytoday.com/sites/default/files/styles/article-inline-half-caption/public/field_blog_entry_images/2018-09/shutterstock_648907024.jpg?itok=0hb44OrI">
                    <h4>
                        account
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>